//out: ../css/paragraphs-easy-edit.css, compress: true, sourceMap: true

@color: var(--color-text-primary-medium);
@gutter: 1em;

.paragraph{
  position: relative;

  .easy-edit-toggle{
    display: none;
    position: absolute;
    top: -@gutter;
    right: -@gutter;
    border-radius: 0 4px 0 4px;
    padding: 0.5em 1em;
    background-color: @color;
    color: white;
    cursor: pointer;
  }
  &.easy-edit-active,
  &:hover{
    &::after{
      content: "";
      position: absolute;
      top: -@gutter;
      right: -@gutter;
      bottom: -@gutter;
      left: -@gutter;
      border: 4px solid @color;
      border-radius: 4px;
      z-index: -1;
    }
    .easy-edit-toggle{
      display: inline-flex;
    }
  }

  .easy-edit{
    // display: none;
    &.open{
      display: block;
    }
  }

}

